
/frontend/node_modules
/packages/*/dist
.env
.env.*
!/frontend/.env.example
/frontend/.env
/frontend/.env.local
/docs
/frontendAdmin/.agents
/frontend/.agents
/backend/.agents
/.agents
/frontendAdmin/logs
/.idea
node_modules